#!/sbin/openrc-run

command="/usr/local/x-ui/x-ui"
command_background=true
pidfile="/run/x-ui.pid"
description="x-ui Service"
procname="x-ui"
depend() {
    need net
}
start_pre(){
    cd /usr/local/x-ui
    local low_memory_mode
    low_memory_mode=$(/usr/local/x-ui/x-ui setting -show true 2>/dev/null | awk '/^lowMemoryMode:/ {print $2}')
    if [ "$low_memory_mode" = "true" ]; then
        export XUI_LOW_MEMORY=true
    else
        unset XUI_LOW_MEMORY
    fi
}
reload() {
  ebegin "Reloading ${RC_SVCNAME}"
  if [ -f "$pidfile" ]; then
    kill -USR1 "$(cat "$pidfile")"
    eend $?
    return
  fi
  pkill -USR1 -f '/usr/local/x-ui/x-ui'
  eend $?
}
